@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
	color:#FFFFFF;
}

a{
	text-decoration: none;
}

body{
	background-color:#252525;
	margin-bottom:200px;
}

header{
	display:flex;
	justify-content: space-between;
	padding:0 80px;
	margin-bottom: 20px;
}

header img{
	width:100px;
	height:100px;
}

header div{
	display:flex;
	align-items:center;
}

header div a{
	padding:10px;
	border-bottom:solid 3px rgba(0,0,0,0);
}

header div a:hover{
	cursor:default;
	border-bottom:solid 3px white;
}


header div a:nth-child(2) {
	margin:0 25px;
}

article{
	margin:0 auto;
}

#main_content{
  margin:0 auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  max-width:1000px;
}

#main_banner{
  width:100%;
  height:200px;
  background-image: url("img/allianz-arena-1k-compressed.jpg");
  background-size:cover;
  background-position: center;
  border:solid 3px white;
  border-radius:2px;
  margin-bottom:30px;
}

#about-section{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  height:120px;
}

#about-section div{
  height: 100%;
}

#about-section div:nth-child(1){
  display:flex;
  justify-content: center;
  align-items:center;
  margin-right:15px;
  border-radius: 2px;
  padding:0 25px;
  width:30%;
  font-size:2em;
  background-color:white;
}

#about-section div:nth-child(2){
  width:70%;
	display:flex;
	justify-content:center;
	align-items:center;
}

#about-section h1{
  background-color:white;
  color:#252525;
  font-weight: bold;
}

#understand{
  height: 420px;
  width:100%;
  position:relative;
  margin-top:30px;
}

#understand_text{
  width:50%;
  height:100%;
  background-color:#EC1F24;
  display:flex;
  flex-direction:column;
  padding:10px 0px 10px 15px;
  position:absolute;
  top:0;
  left:0;
}

#understand_text>*{
	width:50%;
}

#understand_text h1{
	font-size:8em;
}

#understand_text b {
	margin-bottom:20px;
	margin-left:5px;
}

#understand_text i {
	margin-left:5px;
}

#understand_banner{
  width:70%;
  height:250px;
  background-image: url("img/astrology-crop-compressed.jpg");
  background-size:cover;
  background-position: center;
  border:solid 3px white;
  border-radius:2px;
  position:relative;
  top:75px;
  right:0;
  margin-left:auto;
}

#understand .box_art{
  display:flex;
  flex-direction:column;
  position:relative;
  bottom:43%;
  right:-105%;
	max-width: 40px;
  z-index: 1;
}

.box{
  width:30px;
  height:30px;
  margin:10px 0;
  border:solid 10px white;
}

#description{
	display:flex;
	flex-direction: row;
	margin-top:20px;
}

#description .box_art {
	width:5%;
	margin-top:30px;
}

#desc_image_wrap{
	width:45%;
}

#desc_image{
	position:relative;
	top:-25%;
	left:0;
	z-index:1;
	width:75%;
	margin:30px auto 0 auto;
	height:800px;
	background:url("img/simone_hutsch-compressed.jpg");
	background-position: center;
	background-size: cover;
	z-index:1;
}

#desc_image_bg{
	width:100%;
	height:300px;
	background-color:#EC1F24;
	position:static;
}

#desc_text{
	width:40%;
	position:relative;
	top:-90px;
	left:0;
	font-size:1.1em;
	margin:0 5px;
	text-align:left;
	padding-left:25px;
}
